<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.8.0.5324" />
  <package id="Emgu.CV.runtime.windows" version="4.8.0.5324" />
  <package id="Emgu.runtime.windows.msvc.rt.arm64" version="19.37.32822" />
  <package id="Emgu.runtime.windows.msvc.rt.x64" version="19.37.32822" />
  <package id="Emgu.runtime.windows.msvc.rt.x86" version="19.37.32822" />
  <package id="Json.Net" version="1.0.33" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.3" />
</packages>